@font-face {
    font-family: "RobotoRegular";
    src: url("./../assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "RobotoMedium";
    src: url("./../assets/fonts/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: url("./../assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueCyrRoman";
    src: url("./../assets/fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueCyrBold";
    src: url("./../assets/fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
    font-style: normal;
}
body {
height: 100vh;
}

.header {
    height: 49px;
    display: flex;
    align-items: center;
    border: 1px solid red;
    justify-content: space-between;
}
.header__left-blog {
    height: 100%;
    display: flex;
    align-items: center;
}
.header__right-blog {
    height: 100%;
    display: flex;
    align-items: center;
}


 /* Лого */
.header__logo {
    height: 100%;
    padding-left: 40px;
    width: 279px;
    /* width: 100%; */
    background-color: #2f3b4c;
    display: flex;
    align-items:center;
    position: relative;
    transition: background-color 0.2s
}
.header__logo:hover {
    background-color: #141920;
}

.logo__link {
    display: block;
    color: #fff;
    font-family: "RobotoBold";
    font-size: 27px;
    line-height: 1.31;
    text-decoration: none;
}
/* растянула ссылку на всю дивку чтоб можно было нажимать на любое место, а не только на линку*/
.logo__link::after {
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/* Бургер с анимацией  */
.toggle-hamburger {
    margin: 0 55px 0 15px;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 15px;
    cursor: pointer;
}
.toggle-hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background: #afb0c3;
    position: relative;
}
.toggle-hamburger span:hover {
    transform: scale(1.3);
}
.toggle-hamburger span::before, .toggle-hamburger span::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #afb0c3;
    position: absolute;
    left: 0;
}
.toggle-hamburger span::before {
    top: -6px;
}
.toggle-hamburger span::after {
    bottom: -6px;
}
/* превращение стрелки */
.toggle-hamburger.toggle-hamburger__arrtoleft span {
    transition: transform 0.3s;
}
.toggle-hamburger.toggle-hamburger__arrtoleft span::before {
    transform-origin: top right;
    transition: transform 0.2s, width 0.2s, top 0.2s;
}
.toggle-hamburger.toggle-hamburger__arrtoleft span::after {
    transform-origin: bottom right;
    transition: transform 0.2s, width 0.2s, bottom 0.2s;
}
/* когда меню открыто */
.toggle-hamburger.toggle-hamburger__arrtoleft.is-active span {
    transform: rotate(180deg);
}
.toggle-hamburger.toggle-hamburger__arrtoleft.is-active span::before, .toggle-hamburger.toggle-hamburger__arrtoleft.is-active span::after {
    width: 50%;
}
.toggle-hamburger.toggle-hamburger__arrtoleft.is-active span::before {
    top: 0;
    transform: translateX(12px) translateY(1px) rotate(45deg);
}
.toggle-hamburger.toggle-hamburger__arrtoleft.is-active span::after {
    bottom: 0;
    transform: translateX(12px) translateY(-1px) rotate(-45deg);
}
/*  */

/* Выпадающий список */
/* Ввожу модификатор select чтобы можно было переиспользовать в menu__lang */
.select {
    position: relative;
    transition: transform 0.2s
}
.select::after {
    content: "";
    display: block;
    background-image: url(./../assets/images/menu__select-arrow.png);
    width: 11px;
    height: 6px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 11px;
    top: 9px;
    z-index: 1;
}
.menu__select-list{
    display: block;
    width: 100%;
    background: none;
    border: 0;
    appearance: none;
    outline: none;
    font-family: "RobotoRegular";
    font-size: 17px;
    letter-spacing: 0.33px;
    color: #727272;
    padding-right: 20px;
    cursor: pointer;
    
}
.select:hover {
    transform: scale(1.1);
}

/* Меню инструментов */
.menu__instruments {
    display: flex;
}
.menu__instruments-item {
    text-decoration: none;
    font-family: "RobotoRegular";
    font-size: 17px;
    letter-spacing: 0.33px;
    color: #727272;
    
    transition: transform 0.2s
}
.menu__instruments-item:hover {
    transform: scale(1.1);
}
.menu__instruments-item:first-child {
    margin: 0 70px 0 65px;
}
.menu__instruments-item:last-child {
    margin-left: 85px;
}

/* Профайл */
.menu__profile {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-left: 1px solid #e1e7f0;
    border-right: 1px solid #e1e7f0;
    position: relative;
    
}
.menu__profile-link {
    text-decoration: none;
    font-family: "RobotoRegular";
    font-size: 17px;
    letter-spacing: 0.33px;
    color: #727272;
    margin-left: 15px;
    transition: transform 0.2s
}
.menu__profile-link:hover {
    transform: scale(1.1);
}
/* растянула ссылку на всю дивку чтоб можно было нажимать на любое место, а не только на линку*/
.menu__profile-link::after {
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Выпадающий список(язык) */
.menu__lang {
    padding-left: 20px;
}
.menu__lang-list {
    display: block;
    background: none;
    padding-right: 30px;
    border: none;
    appearance: none;
    outline: none;
    font-family: "RobotoRegular";
    font-size: 17px;
    letter-spacing: 0.33px;
    color: #727272;
    cursor: pointer;
}
/* анлок */
.menu__unlock {
    padding: 0 26px;
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 1px solid #e1e7f0;
}
.menu__unlock-icon {
    transition: transform 0.2s
}
.menu__unlock-icon:hover {
    transform: scale(1.3);
}


/* основной контент */
.wrapper {
    height: calc(100% - 50px);
    display:flex;
}
.sideBar {
    max-width: 279px;
    width: 100%;
    height: 100%;
    border: 1px solid red;
    background-color: #e1e5e8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sideBar__search {
    padding: 25px 45px 25px 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #bdc9d1;
    font-family: "RobotoRegular";
    font-size: 12px;
    letter-spacing: 0.24px;
    position: relative;
    transition: background-color 0.2s
}
.sideBar__search:hover {
    background-color: #d0d0d0;
}
.sideBar__input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}
.sideBar__search::after {
    content: "";
    width: 17px;
    height: 17px;
    background-image: url(./../assets/images/sideBar-search.png);
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
}
/*  */
.sideBar__runTime {
    height: 25px;
    width: 100%;
    background-color: #cac8c8;

    /* animation-name: progress; */
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
@keyframes progress {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}
.sideBar__runTime-time {
    width: 100%;
    padding: 8px 15px 8px 20px;
    font-family: "RobotoRegular";
    font-size: 12px;
    color: #2f3b4c;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 28px;
}
/*  */
.sideBar__status {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2575aa;
}
.status__lable {
    font-family: "RobotoBold";
    font-size: 22px;
    color: #fff;
}
.status__button-btn {
    background-color: transparent;
    border: none;
    transition: transform 0.2s
}
.status__button-btn:hover {
    transform: scale(1.3);
} 
.status__button-btn:first-child {
    margin-right: 10px;
}

/* widgets */
.widgets {
    width: 228px;
    background-color: #f1f3f2;
    box-shadow: inset 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 0 20px;
    position: relative;
}
/* кнопка */
.widgets__btn {
    background-image: url(./../assets/images/button.png);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 38px;
    right: -16px;
    box-shadow: 0.5px 0.9px 2px 0 rgba(0, 0, 0, 0.3);
    transition: transform 0.2s
}
.widgets__btn:hover {
    transform: scale(1.3);
}

/* карточка */
.widgets__wrap {}

.widgets-lable {
    display: flex;
    align-items:center;
    width: 100%;
    background-color: #fff;
    border: 1px solid #bfc2c4;
    padding: 8px 10px;
}
.widgets-indicator {
    width: 10px;
    height: 10px;
}
.indicator-green {
    background-color: #1a9022;
}
.indicator-yellow {
    background-color: #f5ad3c;
}
.widgets-lable-text {
    margin-left: 10px;
    font-family: "RobotoBold";
    font-size: 14px;
}
.widgets__appliances {
    display: flex;
    justify-content: center;
}
.widgets__pump {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.appliances {
    width: 189px;
    height: 158px;
    background-color: #fff;
    border: solid 1px #bfc2c4;
    padding: 10px;
    margin-bottom: 20px;
    
}

.appliances-icon {
    display: flex;
    justify-content: center;
    align-items:center;
}
.icon-card2 {
    margin-top: 30px;
}
.icon__tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
}

.icon__svg1 {
    width: 57px;
    height: 106px;
}
.icon__tools-thermostat {
    width: 28px;
    height: 42px;
    margin-bottom: 20px;
}
.icon__tools-vial {
    width: 21px;
    height: 35px;
}

.icon__svg2 {
    width: 31px;
    height: 67px;
    margin-left: 8px;
}
.icon__svg3 {
    width: 51px;
    height: 31px;
    margin-left: 25px;
}

.appliances-volume {
    display: block;
    text-align: center;
}

/* главная */
.main {
    padding: 15px;
    background-color: #f1f3f2;
    width: 100%;
    border: 1px solid red;
}
.main__grig-wrap {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 56% 43%;
    grid-template-rows: 49% 49%;
    gap: 15px;
}

.method,
.mainChart,
.result {
    background-color: #fff;
    border: solid 1px #bfc2c4;
}
.method {
    grid-column: 1/3;
}


/* верхний блог хеадер */

/* первый блок */
.method__header {
    height: 46px;
    border-bottom: solid 1px #bfc2c4;
    display: flex;
}
.method__header-workList {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #f1f3f2;
    padding: 15px 40px 15px 15px;
}
.workList-title {
    font-family: "RobotoBold";
    font-size: 14px;
    color: #2f3b4c;
    margin-right: 15px;
}
.workList-playBtn {
    background-color: none;
    border: none;
    margin-right: 20px;
}
.workList-playTitle {
    font-family: "RobotoBold";
    font-size: 14px;
    color: #2574a9;
}
.workList-goTo {
    font-family: "RobotoBold";
    font-size: 14px;
    color: #727272;
    margin-right: 20px;
}
.workList-goToSpan {
    font-family: "RobotoRegular";
    font-size: 14px;
    color: #2f3b4c;
}
.workList-time {
    font-family: "RobotoBold";
    font-size: 14px;
    color: #2f3b4c;
}
/* второй блок */
.method__header-method {
    border-right: solid 1px #bfc2c4;
    border-left: solid 1px #bfc2c4;
    padding: 15px 20px;
    font-family: "RobotoBold";
    font-size: 14px;
    color: #2f3b4c;
}

.method__header-methodSpan {
    font-family: "RobotoRegular";
    font-size: 14px;
    color: #2f3b4c;
}
/* второй блок */
.method__header-singleRun {
    padding: 15px 80px 15px 15px;
    border-right: solid 1px #bfc2c4;
    background-color: #f1f3f2;
    font-family: "RobotoBold";
    font-size: 14px;
    color: #2f3b4c;
}