@font-face {
    font-family: "RobotoRegular";
    src: url("./../assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "RobotoMedium";
    src: url("./../assets/fonts/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: url("./../assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueCyrRoman";
    src: url("./../assets/fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueCyrBold";
    src: url("./../assets/fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
    font-style: normal;
}

.header {
    height: 49px;
    display: flex;
    align-items: center;
    border: 1px solid red;
}
.header__left-blog {
    display: flex;
    align-items: center;
}
.header__right-blog {
    display: flex;
    align-items: center;
}


 /* Лого */
.header__logo {
    height: 100%;
    padding-left: 40px;
    max-width: 279px;
    width: 100%;
    background-color: #2f3b4c;
    display: flex;
    align-items:center;
    position: relative;
}
.logo__link {
    display: block;
    color: #fff;
    font-family: "RobotoBold";
    font-size: 27px;
    line-height: 1.31;
    text-decoration: none;
}
/* растянула ссылку на всю дивку чтоб можно было нажимать на любое место, а не только на линку*/
.logo__link::after {
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/* Бургер с анимацией  */
.toggle-hamburger {
    margin: 0 55px 0 15px;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 15px;
    cursor: pointer;
}
.toggle-hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background: #afb0c3;
    position: relative;
}
.toggle-hamburger span::before, .toggle-hamburger span::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #afb0c3;
    position: absolute;
    left: 0;
}
.toggle-hamburger span::before {
    top: -6px;
}
.toggle-hamburger span::after {
    bottom: -6px;
}
/* превращение стрелки */
.toggle-hamburger.toggle-hamburger__arrtoleft span {
    transition: transform 0.3s;
}
.toggle-hamburger.toggle-hamburger__arrtoleft span::before {
    transform-origin: top right;
    transition: transform 0.2s, width 0.2s, top 0.2s;
}
.toggle-hamburger.toggle-hamburger__arrtoleft span::after {
    transform-origin: bottom right;
    transition: transform 0.2s, width 0.2s, bottom 0.2s;
}
/* когда меню открыто */
.toggle-hamburger.toggle-hamburger__arrtoleft.is-active span {
    transform: rotate(180deg);
}
.toggle-hamburger.toggle-hamburger__arrtoleft.is-active span::before, .toggle-hamburger.toggle-hamburger__arrtoleft.is-active span::after {
    width: 50%;
}
.toggle-hamburger.toggle-hamburger__arrtoleft.is-active span::before {
    top: 0;
    transform: translateX(12px) translateY(1px) rotate(45deg);
}
.toggle-hamburger.toggle-hamburger__arrtoleft.is-active span::after {
    bottom: 0;
    transform: translateX(12px) translateY(-1px) rotate(-45deg);
}
/*  */

/* Выпадающий список */
/* Ввожу модификатор select чтобы можно было переиспользовать в menu__lang */
.select {
    position: relative;
}
.select::after {
    content: "";
    display: block;
    background-image: url(./../assets/images/menu__select-arrow.png);
    width: 11px;
    height: 6px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 11px;
    top: 9px;
    z-index: 1;
}
.menu__select-list{
    display: block;
    width: 100%;
    background: none;
    border: 0;
    appearance: none;
    outline: none;
    font-family: "RobotoRegular";
    font-size: 17px;
    letter-spacing: 0.33px;
    color: #727272;
    padding-right: 20px;
    cursor: pointer;
}

/* Меню инструментов */
.menu__instruments-item {
    text-decoration: none;
    font-family: "RobotoRegular";
    font-size: 17px;
    letter-spacing: 0.33px;
    color: #727272;
}
.menu__instruments-item:first-child {
    margin: 0 70px 0 65px;
}
.menu__instruments-item:last-child {
    margin-left: 85px;
}

/* Профайл */
.menu__profile {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-left: 1px solid #e1e7f0;
    border-right: 1px solid #e1e7f0;
    position: relative;
}

.menu__profile-link {
    text-decoration: none;
    font-family: "RobotoRegular";
    font-size: 17px;
    letter-spacing: 0.33px;
    color: #727272;
    margin-left: 15px;
}
/* растянула ссылку на всю дивку чтоб можно было нажимать на любое место, а не только на линку*/
.menu__profile-link::after {
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Выпадающий список(язык) */
.menu__lang {
    padding-left: 20px;
}
.menu__lang-list {
    display: block;
    background: none;
    padding-right: 30px;
    border: none;
    appearance: none;
    outline: none;
    font-family: "RobotoRegular";
    font-size: 17px;
    letter-spacing: 0.33px;
    color: #727272;
    cursor: pointer;
}
/* анлок */
.menu__unlock {
    padding: 0 26px;
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 1px solid #e1e7f0;
}


/* основной контент */
.wrapper {

}

.sideBar {
    max-width: 279px;
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    background-color: #e1e5e8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.sideBar__search {
    padding: 25px 45px 25px 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #bdc9d1;
    font-family: "RobotoRegular";
    font-size: 12px;
    letter-spacing: 0.24px;
    position: relative;
}

.sideBar__input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

.sideBar__search::after {
    content: "";
    width: 17px;
    height: 17px;
    background-image: url(./../assets/images/sideBar-search.png);
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
}

/*  */
.sideBar__runTime {
    width: 100%;
    background-color: #cac8c8;

    /* animation-name: progress; */
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes progress {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.sideBar__runTime-time {
    width: 100%;
    padding: 8px 15px 8px 20px;
    font-family: "RobotoRegular";
    font-size: 12px;
    color: #2f3b4c;
    display: flex;
    justify-content: space-between;
}

/*  */

.sideBar__status {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2575aa;
}

.status__lable {
    font-family: "RobotoBold";
    font-size: 22px;
    color: #fff;
}

.btn {
    background-color: transparent;
    border: none;
}

.btn:first-child {
    margin-right: 10px;
}
